body {
    background-image: url(image/BG-edit.jpg);
    width: 100%;
    height: 764px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
td {
    background-color: #FFEBCD;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #FF6347;
    border-radius: 10px;
}

table {
    width: 600px;
    border-spacing: 6px;
    margin-left:auto;
    margin-right:auto;
}

.display-screen {
    width: 42%;
    min-height: 40px;
    height: 42px;
    margin: 100px auto 15px auto;
    padding: 10px;
    border: 1px solid #FF6347;
    font-size: 20px;
    background-color: #F5F5F5;
    color: #FF0033;
    border-radius: 10px;
    word-wrap: break-word;
}